body{
    padding: 0;
    margin: 0;
}
#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
}

.minimized {
    height: 35px;
}
.visible {
    height: 230px;
}
.hidden {
    height: 0px;
}
#player {
    position: absolute;
    bottom: 0;
    right: 1em;
    border: none;
    margin: 0;
    padding: 0;
}

#background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    border: none;
}